.pagination {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;

	a,
	span {
		display: inline-block;
		margin: 0 0.5rem;
		padding: 1rem;
		border-radius: 3px;
		text-decoration: none;
		color: #65baf6;
		background: #fff;
		transition: all 0.15s ease-in-out;
	}

	a:hover {
		color: #fff;
		background: #65baf6;
	}
}